# Segredos e Configurações Locais
.env
.env*.local
!.env.example
.streamlit/secrets.toml

# Dados Confidenciais do Desafio (Altice Labs NDA)
dataset/
images/
*.pdf
*.zip

# Cache e Ambientes Python
__pycache__/
*.pyc
.venv/
venv/

# Sistema Operativo e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
